n8n/rosemonde-whatsapp.json
{
  "name": "Rosemonde — WhatsApp (ÉtudeHorizon)",
  "nodes": [
    {
      "parameters": {
        "updates": ["messages"]
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [-40, 300],
      "webhookId": "rosemonde-whatsapp-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-is-text",
              "leftValue": "={{ $json.messages[0].type }}",
              "rightValue": "text",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Est un texte ?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [180, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "Tu es Rosemonde, l'assistante IA d'ÉtudeHorizon sur WhatsApp. Tu aides les étudiants africains à étudier à l'étranger à moindre coût.\n\nAU PREMIER MESSAGE (historique vide), présente-toi : « Bonjour 👋 Je suis Rosemonde, l'assistante IA d'ÉtudeHorizon. Je vais vous accompagner pas à pas pour optimiser votre admission le plus rapidement possible dans l'école, l'université ou le programme de votre choix. » Puis pose 1 à 3 questions.\n\nCOHÉRENCE (règles absolues) :\n- N'utilise le prénom du client QUE s'il te l'a donné. Ne l'invente jamais.\n- Ne dis jamais avoir reçu un document tant que ce n'est pas le cas.\n- N'invente aucun prix, date, filière ou garantie.\n- Tu es déjà sur WhatsApp : ne demande JAMAIS le numéro de téléphone.\n\nSTYLE : professionnelle puis chaleureuse, messages courts, jusqu'à 3 questions groupées maximum, réponds dans la langue du client (FR/EN).\n\nOBJECTIF : qualifier (prénom, pays d'origine, pays visé, filière, niveau) puis COLLECTER LES DIPLÔMES en PDF/photo, en cascade selon le niveau : BEPC→BEPC ; BAC→BEPC+BAC ; LICENCE→attestation+BAC+BEPC ; MASTER→maîtrise+licence+BAC+BEPC ; DOCTORAT→maîtrise+licence+BAC+BEPC. Un document à la fois.\n\nCONNAISSANCES : Destinations = Inde, Russie, Chine (démarches directes, moins chères), France (Campus France), Canada (permis d'études). Partenaire phare : LPU (Inde, NAAC A++), +150 programmes, entrée dès le BEPC (Inde uniquement), cours en anglais. Promo : 0 frais d'agence pour l'Inde jusqu'au 31 juillet 2026, rentrée août-sept 2026. Bourses : Inde jusqu'à 60%, Russie 50%, Chine CSC, France Eiffel/Erasmus, Canada selon école (jamais garanties). Devis gratuit, aucun prix affiché. Contact : +225 07 89 18 55 01 / 07 05 75 54 66 · www.EtudeHorizon.com · Abidjan & LPU Jalandhar.\n\nHORS SUJET : ne réponds pas au fond, recadre avec douceur vers l'action (« Moi mon truc c'est les études à l'étranger 😊 Tu vises quel pays ? »).\n\nSi tu ne sais pas : dis-le honnêtement et propose qu'un conseiller humain vérifie le dossier et revienne sous 24h."
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Rosemonde (AI Agent)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [420, 300]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": { "maxTokensToSample": 1024 }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Claude Haiku 4.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [340, 520]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 20
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Mémoire par client",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [520, 520]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $env.META_PHONE_NUMBER_ID }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Répondre sur WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "content": "## Rosemonde — WhatsApp (ÉtudeHorizon)\n\n**Flux :** WhatsApp → AI Agent (Claude Haiku 4.5) → réponse WhatsApp. Mémoire par numéro de client.\n\n### À configurer (comme dans la vidéo) :\n\n**1. Crédentiel du *WhatsApp Trigger*** (client ID + secret)\n- business.facebook.com → Paramètres → Comptes → Apps → ton app → App settings → Basic\n- Copie **App ID** (=client ID) et **App Secret** (=secret) dans le crédentiel n8n du Trigger.\n\n**2. Crédentiel de *Répondre sur WhatsApp*** (access token + business account ID)\n- WhatsApp → API Setup → *Generate access token* et *WhatsApp Business Account ID*\n- Colle-les dans le crédentiel WhatsApp Business Cloud.\n\n**3. Crédentiel *Anthropic*** sur le nœud Claude → ta clé sk-ant-...\n\n**4. Variable d'env n8n** : `META_PHONE_NUMBER_ID` = ton Phone Number ID (ou remplace l'expression par l'ID en dur).\n\n**5. Active** le workflow → copie l'URL du webhook du Trigger → mets-la dans Meta (WhatsApp → Configuration → Callback URL) + abonne-toi à `messages`.\n\n💡 En dev, clique *Execute workflow* pour que le Trigger écoute (comme dans la vidéo). En prod (app Live), plus besoin.\n\n⚠️ Coût : chaque message consomme des crédits Anthropic."
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Notice de configuration",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, -120]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [[{ "node": "Est un texte ?", "type": "main", "index": 0 }]]
    },
    "Est un texte ?": {
      "main": [[{ "node": "Rosemonde (AI Agent)", "type": "main", "index": 0 }]]
    },
    "Claude Haiku 4.5": {
      "ai_languageModel": [[{ "node": "Rosemonde (AI Agent)", "type": "ai_languageModel", "index": 0 }]]
    },
    "Mémoire par client": {
      "ai_memory": [[{ "node": "Rosemonde (AI Agent)", "type": "ai_memory", "index": 0 }]]
    },
    "Rosemonde (AI Agent)": {
      "main": [[{ "node": "Répondre sur WhatsApp", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
